@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



:root {
  --c-black: rgb(14, 42, 53);
  --c-white: #ffffff;
  --c-powder: #ced0bf;
  --c-tangelo: #EB4600;
  --c-dark-tangelo: #d64000;
  --c-ashGrey: #FFFFEB;
  --c-dark-ashGrey: #fbaf35;
  --c-turqihoise: #75f6d9;
  --c-dark-turqihoise: #377b77;
  --c-darkdark-turqihoise: #024f48;
  --c-darkdark-light-turqihoise: #045d56;
  --c-dark-blue: #314150;
  --c-danger-red: #b83220;
  --c-danger-red-hover: #d03925;


}

/* semantic color variables for this project */
:root {

  --color-body-bg: var(--c-powder);

  --color-button-primary-bg: var(--c-tangelo);
  --color-button-primary-border: var(--c-tangelo);
  --color-button-primary-bg-hover: var(--c-dark-tangelo);

  --color-button-secondary-bg: var(--c-ashGrey);
  --color-button-secondary-border: var(--c-tangelo);
  --color-button-secondary-bg-hover: var(--c-dark-ashGrey);

  --color-toggle-bg: var(--c-dark-ashGrey);

  --color-button-danger-bg: var(--c-danger-red);
  --color-button-danger-border: var(--c-danger-red);
  --color-button-danger-bg-hover: var(--c-danger-red-hover);


  --color-text: var(--c-black);
  --color-button-text: var(--c-white);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-body-bg: var(--c-black);

    --color-button-primary-bg: var(--c-darkdark-turqihoise);
    --color-button-primary-border: var(--c-darkdark-turqihoise);
    --color-button-primary-bg-hover: var(--c-darkdark-light-turqihoise);

    --color-button-secondary-bg: transparent;
    --color-button-secondary-border: var(--c-turqihoise);
    --color-button-secondary-bg-hover: var(--c-darkdark-turqihoise);

    --color-toggle-bg: var(--c-turqihoise);

    --color-text: var(--c-white);
    --color-button-text: var(--c-white);
  }
}

/* Manuel theme override (prioriteres over prefers-color-scheme) */
:root.theme-light {
  --color-body-bg: var(--c-powder);

  --color-button-primary-bg: var(--c-tangelo);
  --color-button-primary-border: var(--c-tangelo);
  --color-button-primary-bg-hover: var(--c-dark-tangelo);

  --color-button-secondary-bg: var(--c-ashGrey);
  --color-button-secondary-border: var(--c-tangelo);
  --color-button-secondary-bg-hover: var(--c-dark-ashGrey);

  --color-button-danger-bg: var(--c-danger-red);
  --color-button-danger-border: var(--c-danger-red);
  --color-button-danger-bg-hover: var(--c-danger-red-hover);

  --color-toggle-bg: var(--c-dark-ashGrey);

  --color-text: var(--c-black);
  --color-button-text: var(--c-white);
}

:root.theme-dark {
  --color-body-bg: var(--c-black);

  --color-button-primary-bg: var(--c-darkdark-turqihoise);
  --color-button-primary-border: var(--c-darkdark-turqihoise);
  --color-button-primary-bg-hover: var(--c-darkdark-light-turqihoise);

  --color-button-secondary-bg: transparent;
  --color-button-secondary-border: var(--c-turqihoise);
  --color-button-secondary-bg-hover: var(--c-darkdark-turqihoise);

  --color-toggle-bg: var(--c-turqihoise);

  --color-text: var(--c-white);
  --color-button-text: var(--c-white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-body-bg);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", sans-serif;
}

.material-symbols-rounded {
  /* font-size bestemmer faktisk størrelsen */
  font-size: var(--ms-size, 24px);

  /* opsz bør matche størrelsen for pænt resultat */
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' var(--ms-opsz, 24);
}

.material-symbols-rounded {
  color: var(--color-button-secondary-border);
}

/* Fade ind/ud */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 200ms ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}